html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
  }
     
  #map {
    width: 100%;    /* Adjust width to your desired size */
    height: 100%;   /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
  }

  #map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: auto;
  }

#map circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

.legend {
  display: flex;
  gap: 1px;
  justify-content: center;
  align-items: center;
  margin-block: 1em;
  width: 100%;
  padding: 10px;
  border-radius: 8px; /* Rounded corners */
}

.legend > div[style*="--departure-ratio: 1"] {
  background-color: var(--color-departures);
  flex: 1;
  text-align: left;
  font-size: 1.2em; /* Big font */
  font-weight: bold; /* Bold font */
  color: black; /* White font color */
  padding: 10px; /* Add padding */
}

.legend > div[style*="--departure-ratio: 0"] {
  background-color: var(--color-arrivals);
  flex: 1;
  text-align: right;
  font-size: 1.2em; /* Big font */
  font-weight: bold; /* Bold font */
  color: black; /* White font color */
  padding: 10px; /* Add padding */
}

.legend > div[style*="--departure-ratio: 0.5"] {
  background-color: var(--color);
  flex: 1;
  text-align: center;
  font-size: 1.2em; /* Big font */
  font-weight: bold; /* Bold font */
  color: black; /* White font color */
  padding: 10px; /* Add padding */
}

#map circle {
  fill: var(--color);
}

  